/******************/
/*    PROFILS     */
/******************/
.panel-admin {
  background-color: #475b6a;
  height: 800px;
}

.panel-admin img {
  padding-top: 2%;
  border-radius: 50px;
}

.panel-admin h3 {
  color: white;
}

.panel-admin .list-group-item {
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0px;
  background-color: #475b6a;
}

.panel-admin a {
  color: white;
}

.panel-admin a:hover {
  color: black;
}

#profileAdmin .btn {
  border: none;
  color: white;
  font-size: 1.1em;
}

#profileAdmin table {
  margin-top: 2%;
}

#profileAdmin th {
  background-color: rgba(71, 91, 106, 0.2);
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

#profileAdmin td {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

#userslist table {
  margin-top: 2%;
}

#userslist th {
  background-color: rgba(71, 91, 106, 0.2);
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

#userslist td {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

#profil_user .event_user img
{
    width: 100%;
}
/******************/
/*    CONTACT     */
/******************/
#contact hr {
  border-top: 2px solid #036e7f;
}

#contact .find-us {
  margin-top: 6%;
}

#contact .btn {
  margin-bottom: 5%;
}

#sd-entete-map
{
    padding-top: 2%;
}
#sd-entete-map .container-fluid
{
    padding-bottom: 70px;
} 
#sd-entete-map .container-fluid .row 
{
  padding-top: 2%;
}
#sd-entete-map .list-unstyled {
    margin-top: 10%;
    padding-left: 5px;
    list-style: none;
}
/*************************/
/*       inscription     */
/************************/

#register .container-fluid 
{ 
    background-color: aliceblue;
    width: 50%;
    padding-bottom: 25px;
    padding-top: 15px;
}
#register .register{ 
    background-color: #9eadb9;
    color:#fff;
}