
#frontPage #carousel-frontpage img {
  margin: auto;
}

#myCarousel img{
  height: 450px;
  position: center center;
  width: 1024px;
}
#myCarousel{
  max-width: 1124px;
  width: 1024px;

}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
#carousel{
  padding-left: 0px;
  padding-right: 0px;
}

#lastevent img{
  width: 100%;
}
