
#frontPage #carousel-frontpage img {
  margin: auto;
}

#myCarousel img{
  height: 450px;
  position: center center;
  width: 100%;
}
#myCarousel{
  width: 100%;

}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
#carousel{
  padding-left: 0px;
  padding-right: 0px;
}

#frontPage .carousel-control.left {
  background-image: none;
}

#frontPage .carousel-control.right {
  background-image: none;
}

#lastevent {
  margin-top: 5%;
}
#lastevent img{
   width: 100%;
   height: 203px;
}
