
body {
  font-family: 'Playfair Display', serif;
}

.modal-backdrop {
  z-index: 1;
}

header .fa {
  color: white;
}

header .fa-user {
  color: yellowgreen;
}

header .fa-user-plus {
  color: rgb(142, 23, 23);
}

header .fa-user-secret {
  color: rgb(142, 23, 23);
}

/******************/
/*    Accueil   */
/******************/

#conteneur{
     padding-left: 0px;
     padding-right: 0px;
  }

 .demo-header {
 			 text-align: center;
 			 background: url('../img/moto.jpg') no-repeat center center scroll;
 			 color: #fff;
 			 -webkit-background-size: cover;
 			 -moz-background-size: cover;
 			 background-size: cover;
 			 -o-background-size: cover;
       padding-top: 4%;
       padding-bottom: 17%;

 	 }
   @media screen and (max-device-width: 1440px) {
     .demo-header{
       padding-top: 4%;
       padding-bottom: 13%;
     }
   }
   @media screen and (min-width: 728px) and (max-device-width: 424px) {
     .demo-header{
       padding: 5.3% 0;
     }
   }
    @media screen and (min-width: 425px) and (max-device-width: 374px) {
      .demo-header{
        padding: 33% 0 ;
      }
    }

      @media screen and (min-width: 375px) and (max-device-width: 318px) {
        .demo-header{
          padding: 41% 0 ;
        }
      }
      @media screen and (min-width: 319px) and (max-device-width: 310px) {
        .demo-header{
          padding: 52% 11% 11% 11% ;
        }
      }

 	 .preview-pane {
 			 text-align: center;
 			 margin-bottom: 30px;
 			 padding: 15px;
 	 }

 	 .preview-pane hr {
 			 max-width: 50px;
 			 margin: 5px auto;

 	 }

 	 .preview-pane a {
 			 color: #222;
 	 }

 	 .preview-pane a:focus {
 			 outline: none;
 	 }

 	 .preview-pane a img {
 			 -webkit-transition: all 0.5s;
 			 -moz-transition: all 0.5s;
 			 transition: all 0.5s;
 	 }

 	 .preview-pane a:hover img {
 			 opacity: 0.5;
 	 }

    /* Copyright 2014 Evernote Corporation. All rights reserved. */
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255,255,255,.38) solid !important;
        border-radius: 4px !important;
    }
    #page .contenu.article .conteneur-carte-coordonnees{
      position:relative;
      padding-left:10px;
      padding-top:20px;
      z-index:0;
    }

    #page .contenu.article .conteneur-carte-coordonnees .carte{
      position:relative;
      width:400px;
      margin-left:auto;
      margin-right:auto;
    }


    #page .contenu.article .conteneur-carte-coordonnees .carte a{
      font-family:arial;
      font-size:14px;
      font-style:normal;
      font-weight:bold;
      color:#c0c0c0;
      text-decoration:none;
    }

    #page .contenu.article .conteneur-carte-coordonnees .carte a:hover{
      font-family:arial;
      font-size:14px;
      font-style:normal;
      font-weight:bold;
      color:#e7e7e7;
      text-decoration:none;
    }

    #page .contenu.article .conteneur-carte-coordonnees .carte .dunkerque{
      position:absolute;
      top:25px;
      left:80px;
    }

    #page .contenu.article .conteneur-carte-coordonnees .carte .lille{
      position:absolute;
      top:81px;
      left:208px;
    }

    #page .contenu.article .conteneur-carte-coordonnees .carte .maubeuge{
      position:absolute;
      top:191px;
      left:305px;
    }

    #page .contenu.article .conteneur-carte-coordonnees .carte .valenciennes{
      position:absolute;
      top:147px;
      left:209px;
    }

    #page .contenu.article .conteneur-carte-coordonnees .carte .bethune{
      position:absolute;
      top:131px;
      left:123px;
    }
    #page .contenu.article .conteneur-carte-coordonnees .carte .arras{
      position:absolute;
      top:189px;
      left:166px;
    }
    #page .contenu.article .conteneur-carte-coordonnees .carte .boulogne{
      position:absolute;
      top:104px;
      left:-49px;
    }

    #page .contenu.article .conteneur-carte-coordonnees .coordonnees{
      width:230px;
      position:absolute;
      top:20px;
      left:420px;
    }

    #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville{
      position:relative;
    }

    #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville .compass{
      position:absolute;
      right:10px;
      top:-5px;
    }

    #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville .compass a{
      text-decoration:none;
    }

    #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville .nom,
    #page .contenu.article .article.plan .titre1
    {
      font-family:arial;
      font-size:16px;
      font-style:normal;
      font-weight:bold;
      color:#C1002A;
      margin-bottom:5px;
    }

    #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville .item{
      margin-bottom:20px;
    }

    #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville .item .nom,
    #page .contenu.article .article.plan .nom
    {
      font-family:arial;
      font-size:14px;
      font-style:normal;
      font-weight:bold;
      color:#7E7E7E;
    }

 #puce{
   border: solid 1px;
   border-radius: 9px;
   background-color: transparent;
   line-height: 2.428571;
   text-align: center;
   color: white;
 }

  #puce.btn {
   height: 51px;
   min-width: 218px;
   font-size: 18px;
   font-weight: 400;
   line-height: 2.8;
   text-transform: uppercase;
   display: inline-block;
   border: 1px solid white;
   position: relative;
   overflow: hidden;
   text-decoration: none;
   text-align: center;
   cursor: pointer;
  }

 .btn .hover-text {
   color: #fff;
   opacity: 1;
   position: absolute;
   left: 55%;
   opacity: 0;
   -webkit-transform: skew(42deg) translateX(-39px);
   -moz-transform: skew(42deg) translateX(-39px);
   -ms-transform: skew(42deg) translateX(-39px);
   -o-transform: skew(42deg) translateX(-39px);
   transform: skew(42deg) translateX(-150px);
 }
 .hover-text.enter {
   left: 57%;
   opacity: 1;
   -webkit-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
   -moz-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
   -ms-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
   -o-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
   transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
 }
 .hover-text.leave {
   left: 100%;
   opacity: 0;
   -webkit-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s, opacity 0.5s;
   -moz-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s, opacity 0.5s;
   -ms-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s, opacity 0.5s;
   -o-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s, opacity 0.5s;
   transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s, opacity 0.5s;
  }


 .btn .hover-bg {
    display: block;
   background-color: #b30025;
   width: 122%;
   height: 102%;
   position: absolute;
   -webkit-transform: skew(-42deg);
   -moz-transform: skew(-42deg);
   -ms-transform: skew(-42deg);
   -o-transform: skew(-42deg);
   transform: skew(-42deg);
   left: -133%;
   top: 0;
   z-index: 4;
   overflow: hidden;
 }
 .hover-bg.enter {
   left: -11%;
   -webkit-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
   -moz-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
   -ms-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
   -o-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
   transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

 #moto{
    width:281%;
  }

/******************/
/*    FOOTER      */
/******************/


footer {
    border-top: 5px solid #CDB380;
    background: #033649;
    padding-top: 30px;
    clear: both;
    color: #AAA;
    display: block;
    margin-top: 9.8%;
}

footer .widgettitle {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: medium none;
}
footer h4 {
    color: #FFF;
}

footer ul {
    list-style: outside none none;
}

footer li {
    padding: 7px 0px;
    margin: 0px;
}

footer li a {
    color: #DDD;
}

#sub-floor {
    color: #AAA;
    background: #031634 none repeat scroll 0% 0%;
    padding: 10px 0px;
}
#sub-floor p {
  margin: 0;
}
