/******************/
/*    FRONTPAGE    */
/******************/
#frontPage {
  width: 85%;
  margin: auto;
  margin-top: 3%;
  padding-bottom: 5%;
}

#frontPage h3 {
  margin: 3% 0;
}

#frontPage .event {
  font-size: 1.3em;
  padding: 1% 2%;
  background-color: #dbd3d3;
  border-bottom: 4px solid #a4c8d7;
}

#frontPage .event img {
  padding-bottom: 5%;
}

#frontPage .event h4 {
  font-size: 1.8em;
}

#frontPage .adress-event {
  background-color: #2d2f33;
  color: white;
  padding: 2% 0;
}


#frontPage .meteo {
  padding-top: 18%;
}

#conteneur{
    padding-left: 0px;
    padding-right: 0px;
}
.demo-header {
			 text-align: center;
			 background: url('../img/moto.jpg') no-repeat center center scroll;
			 color: #fff;
			 -webkit-background-size: cover;
			 -moz-background-size: cover;
			 background-size: cover;
			 -o-background-size: cover;
			 padding: 100px 0;
			 height: 800px;
	 }
   #puce{
     border: solid 1px;
     border-radius: 9px;
     background-color: transparent;
   }

	 .preview-pane {
			 text-align: center;
			 margin-bottom: 30px;
			 padding: 15px;
	 }

	 .preview-pane hr {
			 max-width: 50px;
			 margin: 5px auto;
	 }

	 .preview-pane a {
			 color: #222;
	 }

	 .preview-pane a:focus {
			 outline: none;
	 }

	 .preview-pane a img {
			 -webkit-transition: all 0.5s;
			 -moz-transition: all 0.5s;
			 transition: all 0.5s;
	 }

	 .preview-pane a:hover img {
			 opacity: 0.5;
	 }

   /* Copyright 2014 Evernote Corporation. All rights reserved. */
   .en-markup-crop-options {
       top: 18px !important;
       left: 50% !important;
       margin-left: -100px !important;
       width: 200px !important;
       border: 2px rgba(255,255,255,.38) solid !important;
       border-radius: 4px !important;
   }
   #page .contenu.article .conteneur-carte-coordonnees{
     position:relative;
     padding-left:10px;
     padding-top:20px;
     z-index:0;
   }

   #page .contenu.article .conteneur-carte-coordonnees .carte{
     position:relative;
     width:400px;
     margin-left:auto;
     margin-right:auto;
   }


   #page .contenu.article .conteneur-carte-coordonnees .carte a{
     font-family:arial;
     font-size:14px;
     font-style:normal;
     font-weight:bold;
     color:#c0c0c0;
     text-decoration:none;
   }

   #page .contenu.article .conteneur-carte-coordonnees .carte a:hover{
     font-family:arial;
     font-size:14px;
     font-style:normal;
     font-weight:bold;
     color:#e7e7e7;
     text-decoration:none;
   }

   #page .contenu.article .conteneur-carte-coordonnees .carte .dunkerque{
     position:absolute;
     top:25px;
     left:80px;
   }

   #page .contenu.article .conteneur-carte-coordonnees .carte .lille{
     position:absolute;
     top:81px;
     left:208px;
   }

   #page .contenu.article .conteneur-carte-coordonnees .carte .maubeuge{
     position:absolute;
     top:191px;
     left:305px;
   }

   #page .contenu.article .conteneur-carte-coordonnees .carte .valenciennes{
     position:absolute;
     top:147px;
     left:209px;
   }

   #page .contenu.article .conteneur-carte-coordonnees .carte .bethune{
     position:absolute;
     top:131px;
     left:123px;
   }


   #page .contenu.article .conteneur-carte-coordonnees .coordonnees{
     width:230px;
     position:absolute;
     top:20px;
     left:420px;
   }

   #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville{
     position:relative;
   }

   #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville .compass{
     position:absolute;
     right:10px;
     top:-5px;
   }

   #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville .compass a{
     text-decoration:none;
   }

   #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville .nom,
   #page .contenu.article .article.plan .titre1
   {
     font-family:arial;
     font-size:16px;
     font-style:normal;
     font-weight:bold;
     color:#C1002A;
     margin-bottom:5px;
   }

   #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville .item{
     margin-bottom:20px;
   }

   #page .contenu.article .conteneur-carte-coordonnees .coordonnees .ville .item .nom,
   #page .contenu.article .article.plan .nom
   {
     font-family:arial;
     font-size:14px;
     font-style:normal;
     font-weight:bold;
     color:#7E7E7E;
   }
